.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** New Style **/
body{
  background: #cccccc;
}
#root{
  display: flex;
  justify-content: center;
}
.main_container{
  position: relative;
  padding: 0px 15px;
  /*overflow-x: scroll;*/
}
nav button{
  margin: 0px 15px;
}
.pdf_container{
  position: relative;
  margin: 15px 0px;
  border: 1px solid #000000;
  /*overflow-x: scroll;*/
}
.pdf_container img{
  position: absolute;
  z-index: 2;
}